.fix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ctt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btngroup {
  text-align: center;
  display: flex;
}

.btngroup .el-button--primary-OK {
  flex: 1;
  padding: 13px 20px;
  color: #fff;
  background-color: #7D8EDA;
  border: 1px solid #7D8EDA;
}

.btngroup .el-button--primary-NO {
  flex: 1;
  padding: 13px 20px;
  color: #fff;
  background-color: #F29A1A;
  border: 1px solid #F29A1A;
}

.btngroup .el-button + .el-button {
  margin-left: 0px;
}

.btngroup .el-button {
  border-radius: 0px;
}

.btn {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.btnConten {
  position: relative;
  background: #fff;
  text-align: center;
  width: 240px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.el-dialog__body {
  color: #333;
  text-align: center;
  padding: 10px 20px 30px 20px;
}

.el-dialog__foote {
  padding: 0;
}
